# Archivos de configuración de herramientas y editores
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# Archivos generados por Pub y Dart
.dart_tool/
.packages
.pub/
.pub-cache/
pubspec.lock

# Archivos de compilación de Flutter (¡el más importante!)
/build/
/android/app/build/
/ios/build/

# Archivos de instalación
*.apk
*.aab

# Archivos de registro y temporales
*.log
.flutter-plugins-dependencies
.flutter-plugins-dependencies
